body{
    /* background: url('./assets/back.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: #AEAEE9 !important; */
   
}
header .heading{
    background-color: #2E2D68;
    color: #b1b2ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.text{
    text-align: justify;
}
